@{
    ViewBag.Title = "Success";
}
<div class="details myContainer">
    <h2>Order placed</h2>
    <p>
        Dear adventurer,
        Eternal Relics would like to thank you for your order.<br />
        We will do our best to send your order as soon as possible! <br />
        Goodluck hunting dragons and slaying monsters! ^^
    </p>
</div>